* {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;  
}

body {
  max-width: 87%;
  margin: 0 auto;
  display: block;
  margin-right: auto;
  margin-bottom: auto;
  background-color: white;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #282B2D;
  padding-right: 20;
  padding-left: 20;
  padding-top: 0px;
  padding-bottom: 15px;
}

li {
  flex: 1 100%;
  display: inline-block;
  max-width: 330px;
  background-color:rgba(28, 28, 30, 0.5);
  padding: 0 20 15 20;
}

ul {
  display: flex;
  -ms-flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 0px; 
}

hr {
  color: #000000;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: #000000;
  margin: 1em 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.imgh{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.89);
  padding-top: 5;
}

.footimg {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.address {
  float: left; 
}

small {
  float: right;
  padding: 10 11 10 11;  
  color: #929292;
}

p {
  overflow: hidden;
  width: 100%;
  height: auto;
}

nav a {
  display: block;
  float: left;
  text-align: center;
  width: 100px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 43, 45);
  padding: 6px 9px; 
  margin: 0px 0px 0px 0px;
  font-size: 1.6em;
  padding-bottom: 22px;
  
}

nav a:hover {
  color: #20bc7e;
}

input {
  margin-right: 10px;
  height: 31px;
  margin-bottom: 20px;
  
}

h1 {
  display: block;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 20px;
  font-size: 4em;
  color: #55eab1;
  padding-right: 282px;  
}

h2 {
  font-size: 1.8em;
  margin-top: 10px;  
}

h3 {
  font-size: 1.4em;
  font-size: 1.7em;
  color: #48E09F;
  margin-left: 1%;
}

h4 {
  margin: 14 20 17 0;
  color: rgb(255, 255, 255);
  font-size: 1.1em;
}

li p {
  color: white;
  font-weight: 100;
} 

li a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgba(202, 202, 202, 0.842)
}

li a:hover {
  color: #48E0A4;
}

.artykul {
  background-color: #282B2D;
  padding: 1 20 30 20;
}

.glowne {
  background-color: white;
  padding: 10 10 0 10;
}

.stopkaimg {
  max-width: 80;  
}

.imga{
  display: block;
  margin-left: auto;
  margin-right: auto;;
}

@font-face {
  font-family: cc;
  src: url(/z)
  }